body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkblue;

}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    background-color: darkgreen;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}